<template>
  <v-app id="inspire">
    <v-dialog v-model="dialog" max-width="600px">
      <template v-slot:activator="{ on }">
        <span class="auth-element" color="primary" dark v-on="on">Войти</span>
      </template>
      <v-card>
        <v-card-title>
          <span>Авторизация</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-form ref="form">
              <v-col cols="12">
                <v-text-field :rules="loginRules" v-model="login" label="Логин*" required></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  :rules="passwordRules"
                  v-model="password"
                  label="Пароль*"
                  type="password"
                  required
                ></v-text-field>
              </v-col>
            </v-form>
          </v-container>
          <small>*обязательные поля</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="logIn">войти</v-btn>
          <v-btn color="blue darken-1" text @click="dialog = false">закрыть</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-app>
</template>

<script>
import { mapGetters } from "vuex";
import { LOGIN } from "@/store/actions.type";

export default {
  data() {
    return {
      dialog: false,
      login: "",
      password: "",
      passwordRules: [v => !!v || "Пустое поле"],
      loginRules: [v => !!v || "Пустое поле"]
    };
  },
  computed: mapGetters(["isShowLogin"]),
  methods: {
    logIn() {
      if (this.$refs.form.validate()) {
        this.$store.dispatch(LOGIN, {
          password: this.password,
          username: this.login
        });
      }
    }
  },
  watch: {
    dialog() {
      if (this.$refs.form) this.$refs.form.resetValidation();
    },
    isShowLogin() {
      if (this.isShowLogin) {
        this.dialog = true;
      }
    }
  }
};
</script>

