<template>
  <v-app id="inspire">
    <v-dialog v-model="dialog" max-width="600px">
      <template v-slot:activator="{ on }">
        <span class="auth-element" color="primary" dark v-on="on">Регистрация</span>
      </template>
      <v-card>
        <v-card-title>
          <span>Регистрация</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-form ref="formReg">
              <v-col cols="12">
                <v-text-field :rules="usernameRules" v-model="username" label="Логин*" required></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field :rules="emailRules" v-model="email" label="Email*" required></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  :rules="passwordRules"
                  v-model="password"
                  label="Пароль*"
                  type="password"
                  required
                ></v-text-field>
              </v-col>
            </v-form>
          </v-container>
          <small>*обязательные поля</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="register">зарегистрироваться</v-btn>
          <v-btn color="blue darken-1" text @click="dialog = false">закрыть</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-app>
</template>

<script>
import { REGISTER } from "@/store/actions.type";
import { mapGetters } from "vuex";

export default {
  data() {
    return {
      dialog: false,
      email: "",
      username: "",
      usernameRules: [v => !!v || "Пустое поле"],
      password: "",
      passwordRules: [v => !!v || "Пустое поле"],
      emailRules: [
        v => !!v || "E-mail пустой",
        v => /.+@.+\..+/i.test(v) || "E-mail не валидный"
      ]
    };
  },
  computed: mapGetters(["isShowLogin"]),
  methods: {
    register() {
      if (this.$refs.formReg.validate()) {
        this.$store.dispatch(REGISTER, {
          email: this.email,
          password: this.password,
          username: this.username
        });
      }
    }
  },
  watch: {
    dialog() {
      if (this.$refs.formReg) this.$refs.formReg.resetValidation();
    },
    isShowLogin() {
      if (this.isShowLogin) {
        this.dialog = false;
      }
    },
  }
};
</script>
