<template>
  <div class="root">
    <Header />
    <Search />
    <CarsList />
    <Footer />
  </div>
</template>

<script>
import Search from "@/components/Search";
import CarsList from '@/components/CarsList';
import Header from "@/components/Header";
import Footer from '@/components/Footer';

import { GET_DATA, GET_RENT_CARS } from '@/store/actions.type';

export default {
  components: {
    Search,
    CarsList,
    Header,
    Footer,
  },
  mounted() {
    this.$store.dispatch(GET_DATA);
    this.$store.dispatch(GET_RENT_CARS);
  }
};
</script>

<style scoped>
.root {
  width: 100%;
  text-align: center;
  margin:  0 auto;
}
</style>
