<template>
  <div>
    <div class="rent" v-if="authStatus">
      <Header />
      <div class="info">
        Оплатить и забрать авто по адресу:
        <address>г. Ростов-на-Дону, пер. Островского, 62</address>
      </div>
      <div v-if="!!rentCars.length" class="cars">
        <div class="car" v-for="item in rentCars" :key="item.id">
          <div class="car-info">
            <b>{{ item.car.name }}</b>
            <span>&#8381;{{ item.car.price }}/день</span>
            <button @click="deleteRent(item.id)">Отменить</button>
          </div>
          <img :src="item.car.image[0].file | getUrl" />
        </div>
      </div>
      <div class="info" v-else>
        У вас нет забронированных машин. Перейдите на
        <router-link :to="{path: '/'}">главную</router-link> страницу
      </div>
      <Footer />
    </div>
    <div v-else class="info">
      Доступно после авторизации.<br />
      <router-link :to="{name: 'main-page'}">Перейти на главную</router-link>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import { UNRENT_CAR, GET_RENT_CARS } from "@/store/actions.type";
import Header from "@/components/Header";
import Footer from "@/components/Footer";

export default {
  computed: mapGetters(["rentCars", "authStatus"]),
  components: {
    Header,
    Footer
  },
  methods: {
    deleteRent(id) {
      this.$store.dispatch(UNRENT_CAR, { carId: id });
      this.$swal({
        position: "top-end",
        icon: "success",
        title: "Бронь отменена",
        showConfirmButton: false,
        timer: 1000,
        width: 350
      });
    }
  },
  filters: {
    getUrl(url) {
      return process.env.VUE_APP_HOST_URL + url;
    }
  },
  mounted() {
    this.$store.dispatch(GET_RENT_CARS);
  }
};
</script>

<style scoped>
.info {
  margin: 40px 0 0 0;
}

.rent {
  padding: 50px 20px;
}

.cars {
  padding: 20px 0;
}

.car {
  margin: 15px 0 0 0;
  height: 100px;
  width: 350px;
  background-color: #eeede6;
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
}

.car-item {
  margin: 15px 0 0 0;
  height: 100px;
  width: 350px;
  background-color: #eeede6;
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
}

[disabled] {
  background-color: grey;
  cursor: not-allowed;
}

img {
  height: 100px;
  border-radius: 0 4px 4px 0;
}

.car-info {
  display: flex;
  flex-flow: column;
  height: 100%;
  justify-content: space-between;
  text-align: left;
  padding: 5px;
}

button {
  background-color: orange;
  color: white;
  font-weight: bold;
  width: 120px;
  height: 30px;
  border-radius: 5px;
}

button:active {
  background-color: orangered;
}
</style>