<template>
  <div class="auth-block">
    <LoginModal />
    <RegisterModal />
  </div>
</template>

<script>
import RegisterModal from "@/components/modals/RegisterModal";
import LoginModal from "@/components/modals/LoginModal";

export default {
  props: ["handleModal"],
  components: {
    RegisterModal,
    LoginModal
  },
};
</script>

<style>
.auth-block {
  display: flex;
}

.v-application--wrap {
  min-height: unset !important;
}

.auth-element {
  position: relative;
  right: 0px;
  padding: 0 5px 0 5px;
  font-size: 14px;
  cursor: pointer;
}

.v-card__text,
.v-card__title {
  color: orange;
  font-size: 16px !important;
  padding: 0px 10px 10px 20px !important;
}

.v-card__text .container {
  padding: 0 0 5px 0 !important;
}

.v-label {
  font-size: 14px !important;
}

.col-12 {
  padding: 0 0 10px 0 !important;
}

.v-btn__content {
  color: orange !important;
}
</style>
