<template>
  <div class="cars">
    <div class="cars-view" v-if="carsList.length">
      <div class="car-item" v-for="car in carsList" :key="car.id">
        <div class="car-info">
          <b>{{ car.name }}{{car.id}}</b>
          <span>&#8381;{{ car.price }}/день</span>
          <button :disabled="rentCarsIds.includes(car.id)" @click="rentCar(car.id)">Бронировать</button>
        </div>
        <img :src="car.image[0].file | getUrl" />
      </div>
    </div>
    <div v-else class="info">Не найдено ни одной машины</div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import { RENT_CAR } from "@/store/actions.type";

export default {
  computed: {
    ...mapGetters(["cars", "searchCars", "user", "rentCarsIds", "authStatus"]),
    carsList() {
      return this.searchCars || this.cars;
    },
  },
  filters: {
    getUrl(url) {
      return process.env.VUE_APP_HOST_URL + url;
    }
  },
  methods: {
    rentCar(id) {
      if (!this.authStatus) {
        this.$swal({
          position: "center",
          icon: "error",
          title: "Требуется авторизация",
          showConfirmButton: false,
          width: 450
        });
        return;
      }
      this.$store.dispatch(RENT_CAR, {
        car: id,
        user: this.user.id
      });
      this.$swal({
        position: "top-end",
        icon: "success",
        title: "Машина была забронирована",
        showConfirmButton: false,
        timer: 1500,
        width: 450
      });
    }
  }
};
</script>

<style scoped>
.info {
  margin: 0 auto;
}

.cars {
  width: 100%;
  height: 100%;
  margin-top: 80px;
  display: flex;
  border-top: 1px solid #d3d5d6;
  padding-bottom: 80px;
}

.car-item {
  margin: 15px 0 0 0;
  height: 100px;
  width: 350px;
  background-color: #eeede6;
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
}

[disabled] {
  background-color: grey;
  cursor: not-allowed;
}

img {
  height: 100px;
  border-radius: 0 4px 4px 0;
}

.car-info {
  display: flex;
  flex-flow: column;
  height: 100%;
  justify-content: space-between;
  text-align: left;
  padding: 5px;
}

.cars-view {
  display: flex;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-around;
}

button {
  background-color: orange;
  color: white;
  font-weight: bold;
  width: 120px;
  height: 30px;
  border-radius: 5px;
}

button:active {
  background-color: orangered;
}
</style>