<template>
  <div class="footer">cars-rent-rnd.com 2020</div>
</template>


<style scoped>
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 30px;
  width: 100%;
  background-color: orange;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 5px;
}
</style>
