<template>
  <div class="header">
    <router-link :to="{name: 'main-page'}" class="title">Аренда авто</router-link>
    <Auth v-if="!authStatus" v-on:handleModal="handleRegisterModal" />
    <Profile v-else />
  </div>
</template>

<script>
import Auth from "@/components/Auth";
import Profile from "@/components/Profile";
import { mapGetters } from "vuex";

export default {
  components: {
    Auth,
    Profile
  },
  data() {
    return {
      isRegisterOpen: false
    };
  },
  computed: mapGetters(["authStatus"]),
  methods: {
    handleRegisterModal() {
      this.isRegisterOpen = !this.isRegisterOpen;
    }
  }
};
</script>

<style scoped>
.header {
  width: 100%;
  height: 40px;
  border-bottom: 2px solid orange;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 0 10px;
  background-color: white;
}

.title {
  color: black;
  font-size: 18px;
  font-style: italic;
}
</style>
