<template>
  <div class="profile">
    {{ user.username }}
    <router-link :to="{path: '/rents-page/'}" class="car-info">
      <img class="image car" src="@/assets/image/car.png" />
      <span class="car-count">{{ rentCarsCount }}</span>
    </router-link>
    <img @click="logout" class="image" src="@/assets/image/logout.png" />
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import { LOGOUT } from "@/store/actions.type";

export default {
  computed: mapGetters(["user", "rentCarsCount"]),
  methods: {
    logout() {
      this.$store.dispatch(LOGOUT);
    }
  }
};
</script>

<style scoped>
.profile {
  display: flex;
}

.car-info {
  display: block;
  position: relative;
  cursor: pointer;
}

.car-count {
  position: absolute;
  top: -7px;
  right: -4px;
  font-size: 12px;
  background-color: orange;
  width: 14px;
  height: 14px;
  text-align: center;
  border-radius: 50%;
  color: white;
  font-weight: bold;
}

.image {
  width: 20px;
  cursor: pointer;
  margin-left: 10px;
  display: block;
}
</style>
