<template>
  <div class="search">
    <input class="search-input" placeholder="Введите название модели" v-model="searchValue" />
    <input placeholder="От" v-model="minPrice" type="number" class="input-number" />
    <input placeholder="До" v-model="maxPrice" type="number" class="input-number" />
    <span title="Очистить фильтр" @click="clearFilters">x</span>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import { SEARCH_CARS } from "@/store/mutations.type";

export default {
  data() {
    return {
      searchValue: "",
      minPrice: null,
      maxPrice: Infinity
    };
  },
  computed: mapGetters(["cars"]),
  methods: {
    clearFilters() {
      this.searchValue = '';
      this.minPrice = null;
      this.maxPrice = Infinity;
    }
  },
  watch: {
    searchValue() {
      const filteredCars = this.cars.filter(
        item =>
          item.name.toLowerCase().includes(this.searchValue) &&
          item.price < (this.maxPrice || Infinity) &&
          item.price > this.minPrice
      );
      this.$store.commit(SEARCH_CARS, filteredCars || null);
    },
    maxPrice() {
      const filteredCars = this.cars.filter(
        item =>
          item.name.toLowerCase().includes(this.searchValue) &&
          item.price < (this.maxPrice || Infinity) &&
          item.price > this.minPrice
      );
      this.$store.commit(SEARCH_CARS, filteredCars || null);
    },
    minPrice() {
      const filteredCars = this.cars.filter(
        item =>
          item.name.toLowerCase().includes(this.searchValue) &&
          item.price < (this.maxPrice || Infinity) &&
          item.price > this.minPrice
      );
      this.$store.commit(SEARCH_CARS, filteredCars || null);
    }
  }
};
</script>

<style scoped>
.search {
  padding: 120px 10% 0 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.search-line {
  width: 100%;
  max-width: 800px;
  display: flex;
  justify-content: space-around;
}

.search-input {
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
  border-radius: 2px;
  width: 60%;
  height: 25px;
  padding: 3px;
  margin-right: 10px;
}

.input-number {
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
  border-radius: 2px;
  width: 10%;
  height: 25px;
  padding: 3px;
  margin-right: 10px;
}

span {
  cursor: pointer;
}
</style>
