<template>
  <div class="main">
    <router-view></router-view>
  </div>
</template>

<script>
import { GET_USER } from "@/store/actions.type";

export default {
  name: "App",
  mounted() {
    this.$store.dispatch(GET_USER);
  }
};
</script>

<style>
* {
  outline: unset;
}
body {
  display: flex;
  margin: 0px;
  padding: unset !important;
}
.main {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: unset;
}
</style>
